  body {
            font-family: Arial, sans-serif;
            margin: 20px;
			background-image:url('JRBG2.png');
			
        }

        #search-container {
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
        }

        #search-box {
            width: 80%;
            padding: 10px;
            font-size: 16px;
			color:lightgray;
			font-family:High Speed;
        }

        #search-button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
			font-family:High Speed;
        }
		.font{
			font-family:High Speed;
			font-size:18;
			color:lightgray;
		}