html{
	background-image:url('pics/tdBG.png');
	background-size:100%;
	background-repeat: no-repeat;
	background-color:white;
}
.navibar{
	align-content:´left;
	text-align:center;
	text-indent: 50px;
	display: flex;
    flex-direction: column;
    align-items: center;
	margin-right: 8%;
	position:relative;
}
.font{
	font-family:High Speed;
	font-size:1.5vw;
	text-align: center;
} 
.font2{
	font-family:lemon milk medium;
	font-size:1vw;
}
.font3{
	font-family:High Speed;
	font-size:1.65vw;
	color:black;
	text-align: center;
}	
.centerText{
	float:center;
	text-align:center;
	color:white;
	width:1200px;
	float:top;  
	position: relative; 
	left: 8em;
	background-color: rgba(0, 0, 0, 0.35);
	border: 3px solid white;
}
.techpos{
	float:top;  
	align-content:left;
	position:relative;
	top:2em;
	
}
.techimg{
	position:relative;
	width: 55%;
	height:auto;
}
footer{
	background-color: rgba(84, 84, 84, 0.556);
}
