html{
	background-image:url('pics/tdBG.png');
	background-size:100%;
	background-repeat: no-repeat;
	background-color:white;
}
.navibar{
	align-content:´left;
	text-align:center;
	text-indent: 50px;
}
.fontnav{
	font-family:High Speed;
	font-size:20px;
	color:black;
} 
.font{
	font-family:High Speed;
	font-size:20px;

} 
.font2{
	font-family:lemon milk medium;
	font-size:15px;
	
}
.font3{
	font-family:High Speed;
	font-size:25px;
	color:black;
}	
.centerText{
	float:center;
	text-align:center;
	color:white;
	width:1200px;
	float:top;  
	position: relative; 
	left: 8em;
	background-color: rgba(0, 0, 0, 0.35);
	border: 3px solid white;
}
.techpos{
	float:top;  
	align-content:left;
	position:relative;
	top:2em;
	
}
.techimg{
	position:relative;
	width: 230px;
	height:auto;
}
footer{
	background-color: rgba(84, 84, 84, 0.556);
}